.global {
  all: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
  .name {
    font-weight: bold;
    color: orange;
  }
}

button {
  background-color: red;
}
